.wrapper {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.wrapper-special {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: lighter;
}

.fiche {
  width: 450px;
  margin: 0 auto;
  background-color: white;
  height: 365px;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 2px 2px #DEDEDE;
}
