

.medium:hover {
  opacity: 0.8;
  text-decoration: none;
  font-weight: normal;
  color: black;
}

.petit {
  margin-left: 86px;
  @media (max-width: 500px) {
    margin-left: 0px;
  }
}

.grand {
  margin-left: 450px;
}

.nextround {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  margin: 0 auto;
  margin-bottom: 10px;
}
.nextround:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.contenant {
  margin-top: 45px;
  margin-bottom: 50px;
}

.signin {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #536D72;
  transition: background 0.3s ease;
  margin: 0 auto;
}

.signin:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
